/* Variables */
:root {
  --main-color: #19c8fa;
  --opacity-color: rgb(15 116 143 / 70%);
  --section-padding: 50px;
  --transition-duration-4ms: 0.4s;
  --transition-duration-6ms: 0.6s;
}

/* END Variables */

/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
/* Small Screens */
/* @media (min-width: 480px) {
  .container {
    width: 400px;
  }
} */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}
* {
  scrollbar-width: auto;
  scrollbar-color: var(--opacity-color) #f6f6f6;
}
/* END Global Rules */

/* Components */
.section {
  margin-top: 100px;
}
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  background-color: #333;
  width: 150px;
  height: 2px;
  bottom: -30px;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #333;
  bottom: -40px;
}

.main-heading p {
  line-height: 2;
  color: #b0acae;
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
/* END Components */

/* Header */
header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 97px;
  position: relative;
}
header .container::after {
  content: "";
  position: absolute;
  background-color: #a2a2a2;
  width: calc(100% - 30px);
  height: 1px;
  bottom: 0;
  left: 15px;
}
header .logo img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
header nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--opacity-color);
  }
  header nav .toggle-menu:hover + ul li a {
    padding: 15px;
  }
}
header nav ul li a {
  padding: 40px 10px;
  display: block;
  color: white;
  font-size: 14px;
  transition: var(--transition-duration-4ms);
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav .search-icon {
  padding-left: 10px;
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 2px solid white;
  cursor: pointer;
}

header .container nav .search-icon i {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: var(--transition-duration-4ms);
}
header .container nav .search-icon i:hover {
  color: var(--main-color);
}
/* END Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  /*Callback color if there is an error background image*/
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}
.landing .landing-container {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  width: 50%;
  background-color: var(--opacity-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .landing-content {
  max-width: 500px;
  position: relative;
  z-index: 3;
  color: #fff;
}
@media (max-width: 767px) {
  .landing .landing-container {
    width: 100%;
  }
  .landing .landing-content {
    max-width: 100%;
  }
}
@media (max-width: 1220px) {
  .landing .landing-content {
    padding-left: 20px;
  }
}
.landing .landing-content h2 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
}
.landing .landing-content p {
  line-height: 1.8;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}
.landing .bullets li.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
/* END Landing */

/* Services */
/* .services {
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
} */
/* .services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
} */
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services-container .srv-box {
  display: flex;
}
.services-container .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services-container .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  .services-container .srv-box i {
    margin: 0 0 30px;
  }
}
.services-container .srv-box .srv-text h3 {
  color: var(--main-color);
  margin-bottom: 20px;
}
.services-container .srv-box .srv-text p {
  line-height: 2;
  color: #b0acae;
}
/* END Services */

.design {
  margin-top: 100px;
  padding: 100px 0;
  width: 100%;
  height: 600px;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  background-image: url("/images/design-features.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.design-image {
  text-align: center;
  flex-grow: 1;
  z-index: 2;
  position: absolute;
  bottom: -120px;
  left: 150px;
}
.design .design-text {
  color: white;
  padding: 100px;
  background-color: var(--opacity-color);
  text-align: center;
  height: 80%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 150px;
}
.design .design-internal-text {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.design .design-text h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: normal;
}
.design .design-text ul li {
  font-size: 20px;
  padding: 15px 0;
  text-align: left;
}
.design .design-text ul li i {
  font-size: 20px;
  padding-right: 15px;
}
/* END Services */

/* Portfolio */
.port-nav {
  margin: 40px auto;
}
.port-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.port-nav ul li {
  padding: 10px;
  cursor: pointer;
}
.port-nav ul li:hover {
  background-color: var(--main-color);
  color: white;
}
.port-nav ul li.active {
  background-color: var(--main-color);
  color: white;
}
/* Gallary */
.gallary {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.gallary-images {
  flex-basis: 25%;
  position: relative;
  overflow: hidden;
}
.gallary-images img {
  width: 100%;
  transition: 0.6s;
}
.photo-text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(0 0 0 / 40%);
  bottom: -100%;
  left: 0;
  transition: 0.6s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallary-images:hover img {
  transform: scale(1.05) rotate(-3deg);
}
.gallary-images:hover .photo-text {
  bottom: 0;
}

.photo-text h2 {
  font-size: 18px;
  font-weight: normal;
}
.photo-dept {
  color: var(--main-color);
  font-size: 16px;
  margin-top: 10px;
}
.btn-div {
  text-align: center;
}
.gallary-btn {
  margin: 30px auto;
  padding: 15px 20px;
  width: fit-content;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: var(--main-color);
  color: white;
}

/* END Gallary */

/* Video */
.video-container {
  padding-top: var(--section-padding);
  /* height: 100vh; */
  width: 100%;
  position: relative;
}
.video-container video {
  width: 100%;
}
.video-overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  background-color: var(--opacity-color);
  padding: 50px;
  color: white;
}
.video-overlay h2,
.video-overlay p {
  margin-bottom: 30px;
  font-weight: normal;
}
/* .video-overlay button {
  background-color: black;
  padding: 15px;
  border: none;
  cursor: pointer;
} */
.video-overlay a {
  margin: 30px auto;
  padding: 15px 20px;
  width: fit-content;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
/* END Video */

/* END Portfolio */

/* About */
.about-devices-container {
  position: relative;
  text-align: center;
}
.about-devices {
  display: block;
  max-width: 100%;
  position: relative;
  top: 120px;
  z-index: -1;
  margin: 0 auto;
}

.about-container {
  background-image: url("../images/stats.png");
  padding: 100px;
  position: relative;
}
.about-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.stats-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--opacity-color);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

.stat-box {
  text-align: center;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
  color: white;
  margin-bottom: 20px 0;
}
.stat-icon {
  font-size: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: black;
}

.stat-number {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.stat-label {
  font-size: 20px;
  margin-top: 10px;
}

/* END About */

/* Testimonials and Skills  */
.test-skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--section-padding) 0;
}
.test-skill .test,
.test-skill .skills {
  width: 50%;
}
.testimonial-item {
  margin-bottom: 50px;
  padding: 0 50px;
}
.testimonial-body {
  display: flex;
  align-items: center;
  gap: 20px;
}
.testimonial-text {
  padding-bottom: 20px;
  border-bottom: 2px solid #eee;
  margin-left: 20px;
  line-height: 30px;
}
.testimonial-text {
  text-align: right;
}
.testimonial-text > p {
  text-align: left;
}
.testimonial-text span {
  color: #777777;
}
.test-skill img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.bullets {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--main-color);
  display: inline-block;
}
.bullets li.active {
  background-color: var(--main-color);
}
/* END Testimonials and Skills  */
